---
import BaseLayout from '../layouts/BaseLayout.astro';

import Hero from '../components/home/Hero.astro';
import Latest from '../components/home/Latest.astro';
import Reviews from '../components/home/Reviews.astro';
import EditorialHub from '../components/home/EditorialHub.astro';
import ArchiveStrip from '../components/home/ArchiveStrip.astro';
import Hardware from '../components/home/Hardware.astro';

import '../styles/pages/home.css';

import { getAllPosts, groupPosts } from '../lib/posts';

const allPosts = await getAllPosts();

const {
  hero,
  reviews,
  specials,
  memories,
  latest,
  news,
  hardware,
  archive,
  guides
} = groupPosts(allPosts);
---

<BaseLayout reviews={reviews} news={news}>

  <section class="home-hero">
    <div class="container">
      <Hero posts={hero} />
    </div>
  </section>

  <section class="home-reviews">
    <div class="container">
      <Reviews posts={reviews} />
    </div>
  </section>

  <section class="home-editorial">
    <div class="container">
    <EditorialHub
       specials={specials}
       memories={memories}
       guides={guides}
/>
    </div>
  </section>

  <section class="home-archive">
    <div class="container">
      <ArchiveStrip posts={archive} />
    </div>
  </section>

  <section class="home-hardware">
    <div class="container">
      <Hardware posts={hardware} />
    </div>
  </section>

  <section class="home-latest">
    <div class="container">
      <Latest posts={latest} />
    </div>
  </section>

</BaseLayout>