---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/home/Hero.astro';
import '../styles/components/hero.css';
import '../styles/pages/home.css';

import Latest from '../components/home/Latest.astro';
import Reviews from '../components/home/Reviews.astro';
import Specials from '../components/home/Specials.astro';
import Memories from '../components/home/Memories.astro';
import Hardware from '../components/home/Hardware.astro';

import { getAllPosts, groupPosts } from '../lib/posts';

const allPosts = await getAllPosts();
const { reviews, specials, memories, latest } = groupPosts(allPosts);
---

<BaseLayout>

  <section class="home-hero">
    <div class="container">
      <Hero posts={allPosts} />
    </div>
  </section>

  <section class="home-memories">
    <div class="container">
      <Memories posts={memories} />
    </div>
  </section>

  <section class="home-reviews">
    <div class="container">
      <Reviews posts={reviews} />
    </div>
  </section>

  <section class="home-specials">
    <div class="container">
      <Specials posts={specials} />
    </div>
  </section>

  <section class="home-hardware">
    <div class="container">
      <Hardware />
    </div>
  </section>

  <section class="home-latest">
    <div class="container">
      <Latest posts={latest} />
    </div>
  </section>

</BaseLayout>