---
export const prerender = false;
import { client } from '../../lib/sanity';
import BaseLayout from '../../layouts/BaseLayout.astro';
const { slug } = Astro.params;
import '../../styles/article.css';
import { urlFor } from '../../lib/image';
const post = await client.fetch(`
  *[_type == "article" && slug.current == $slug][0]{
    title,
    content
  }
`, { slug });
---

<BaseLayout title={post.title}>
  <div class="article">

    <h1>{post.title}</h1>

    {post.content.map(block => {

      // ✅ TESTO
      if (block._type === 'block') {
        const text = block.children.map(c => c.text).join('');

        if (block.style === 'h2') return <h2>{text}</h2>;

        return <p>{text}</p>;
      }

      // ✅ IMMAGINE
      if (block._type === 'image') {
        return (
          <figure>
            <img
              src={urlFor(block).width(900).url()}
              alt={block.caption || ''}
            />
            {block.caption && <figcaption>{block.caption}</figcaption>}
          </figure>
        );
      }

      // 💡 CURIOSITÀ (asideBox)
      if (block._type === 'asideBox') {
        return (
          <aside class="aside-box">
            {block.title && <h3>{block.title}</h3>}

            {block.content?.map(inner => {
              const text = inner.children?.map(c => c.text).join('');
              return <p>{text}</p>;
            })}
          </aside>
        );
      }

      return null;
    })}

  </div>
</BaseLayout>